.back{
    background-color: #0d2128;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.cback{
    margin-top: 50px;
}

#change:hover{
    color: blue;
    text-decoration: underline;
}
