# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.DS_Store

*SETUP.md:Zone.Identifier
*README.md:Zone.Identifier
*LICENSE:Zone.Identifier
*go.sumZone.Identifier
*nftobject.goZone.Identifier
*utils.goZone.Identifier
*structs.goZone.Identifier
*main.goZone.Identifier
*go.modZone.Identifier
*cy-jsonutils.go:Zone.Identifier
*common.go:Zone.Identifier
*cy-jsonutils.goZone.Identifier
*cy-nls_strings.goZone.Identifier
*go.sumZone.Identifier
*common.goZone.Identifier
*.cy-ledgerapi.goZone.Identifier
*go.modZone.Identifier